name: Product Service

on:
  push:
    branches: [main]
    paths:
      - "product-service/**"
  pull_request:
    branches: [main]
    paths:
      - "product-service/**"

env:
  SERVICE: product-service

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:7.0
        ports: ["27017:27017"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install & Test
        run: |
          cd product-service
          pip install -r requirements.txt pytest
          pytest tests/ -v

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: product-service
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ env.SERVICE }}:latest
            ${{ secrets.DOCKER_USERNAME }}/${{ env.SERVICE }}:${{ github.sha }}
